@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgb(26, 26, 26);
  background: radial-gradient(circle at 30%, #333, rgb(26, 26, 26) 50%);
  background-attachment: fixed;
}

@supports (-moz-appearance:none) {
  body {
    background: rgb(36, 36, 36);
  }
}

.header-shadow-anim {
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-shadow-anim:before {
    content: 'Text Length';
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    filter: blur(17px);
    z-index: -1;
    animation: gradient-animation 6s infinite linear;
    background: linear-gradient(130deg,#ff7e00,#00f,#5cff00,#ffeda0);
    background-size: 200% 200%;
    border-radius: 36px;
    transform: scale(1.2) skew(-12deg,2deg);
  }

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.langs-section-box {
  background-color: #242424;
  /* background: linear-gradient(to bottom, #2e2e2e 15%, rgb(29, 29, 29) 100%); */
  border-radius: 20px;
}

.projects-section-box {
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

.project-modal-wrapper {
  z-index: 2;
  width: 840px;
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px 1px rgb(0, 0, 0);
}

.lang-list-container {
  width: 830px;
}

.projects-container {
  width: 840px;
}

.logo-wrapper {  
  min-width: fit-content;
}

.logo-container {
  width: 80px;
}

@media (max-width: 850px) {
  .lang-list-container {
    width: 580px;
  }
  .projects-container {
    width: 610px;
  }
  .project-modal-wrapper {
    width: 630px;
  }
}

@media (max-width: 767px) {
  .logo-container {
    width: 40px;
  }
  .lang-list-container {
    width: 500px;
  }
  .projects-container {
    width: 510px;
  }
  .project-modal-wrapper {
    width: 510px;
  }
}

@media (max-width: 640px) {
  .lang-list-container {
    width: 400px;
  }
  .projects-container {
    width: 410px;
  }
  .project-modal-wrapper {
    width: 410px;
  }
}

@media (max-width: 490px) {
  .lang-list-container {
    width: 300px;
  }
  .projects-container {
    width: 340px;
  }
  .project-modal-wrapper {
    width: 340px;
  }

}

.project-box {
  background-color: #242424;
  position: relative;
  border: 1px solid rgba(173, 173, 173, 0.5);
}

.project-box::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0px, 4px, 0px) scale(1);
  filter: blur(14px);
  /* opacity: var(0.7);
  transition: opacity 0.3s; */
}

.project-box::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}

.project-box:hover {
  transform: scale(1.05);
  transition: ease 0.2s;
}

#project-pps:before {
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

#project-pathfinding:before {
  /* background: linear-gradient(to top left, #4c00ff 0%, #cc00ff 100%); */
  /* background: linear-gradient(to top left, #d9ff00 0%, #ff21a2 100%); */
  /* background: linear-gradient(to top left, #eeff00 0%, #ff2176 100%); */
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

#project-wfc:before {
  /* background: linear-gradient(to top left, #9dff00 0%, #00cc3d 100%); */
  /* background: linear-gradient(to bottom right, #00cc3d 0%, #f3f520 100%); */
  /* background: linear-gradient(to top left, #4c00ff 0%, #cc00ff 100%); */
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

#project-ocr:before {
  /* background: linear-gradient(to top left, #ff0000 0%, #ff0080 100%); */
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

#project-file-opener:before {
  /* background: linear-gradient(to top left, #ffda36 0%, #ff5100 100%); */
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

#project-link-opener:before {
  /* background: linear-gradient(to top left, #00b7ff 0%, #1d34ff 100%); */
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100%);
}

.project-box-content {
  position: relative;
  z-index: 1;
}

.project-short-desc {
  color: #B6B3AF;
}