@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Widths for the container of the site at different viewport sizes */
  --main-container-stage-1-width: 830px;
  --main-container-stage-2-width: 580px;
  --main-container-stage-3-width: 500px;
  --main-container-stage-4-width: 400px;
  --main-container-stage-5-width: 320px;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: rgb(36, 36, 36);
  background: radial-gradient(circle at 34%, #333, rgb(26, 26, 26) 50%);
  background-attachment: fixed;
}

@supports (-moz-appearance:none) {
  body {
    /* Remove background gradient on Firefox, as it looks very choppy */
    background: rgb(36, 36, 36);
  }
  .project-tech-stack-text {
    font-weight: 700;
  }
}

::selection {
  background: rgb(100, 100, 100);
  color: #fafafa;
}

/* Container for the background gradient for the header on home page */
.header-shadow {
  position: relative;
  z-index: -1;
  width: 860px;
  height: 74px;
  filter: blur(14px);
}

/* Adjustments to only the gradient */
.header-shadow:before { 
  content: '';
  position: absolute;
  height: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  z-index: -1;
  border-radius: 24px;
  transform: skew(10deg) translateX(2px);
}

/* Class to hide the header-shadow background gradient until the header letter animation has finished */
.header-shadow-anim-start {
  opacity: 0;
  animation: 1s linear 1.5s forwards fade-in;
}

/* Animated background gradient */
.header-shadow-anim:before {
  width: 100%;
  animation: gradient-animation 6s infinite linear;
  background: linear-gradient(130deg,#ffc400 15%, #ff008c 50%, #0044ff 85%);
  background-size: 200% 200%;
}

/* Static background gradient */
.header-shadow-static:before {
  width: 100%;
  background: linear-gradient(130deg,#ffc400 5%, #ff008c 50%, #0044ff 95%);
}

/* Animation for header-shadow-anim */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container for the text inside header-shadow */
.header-text-container {
  position: absolute;
  top: 22px;
}

/* Text inside header-text-container */
.header-text {
  font-size: 75px;
}

/* Letter inside header-text */
.letter {
  font-weight: 900;
}

/* Classes for every individual letter inside header-text */
/* Every letter will have a slight delay for when its animation starts */
/* f = first name, l = last name */
.letter-f-1 {
  animation: header-color-anim 1.4s linear both, header-movement-anim 1.2s linear both;
}

.letter-f-2 {
  animation: header-color-anim 1.4s linear .04s both, header-movement-anim 1.2s linear both .04s;
}

.letter-f-3 {
  animation: header-color-anim 1.4s linear .08s both, header-movement-anim 1.2s linear both .08s;
}

.letter-f-4 {
  animation: header-color-anim 1.4s linear .12s both, header-movement-anim 1.2s linear both .12s;
}

.letter-f-5 {
  animation: header-color-anim 1.4s linear .16s both, header-movement-anim 1.2s linear both .16s;
}

.letter-f-6 {
  animation: header-color-anim 1.4s linear .2s both, header-movement-anim 1.2s linear both .2s;
}

.letter-l-1 {
  animation: header-color-anim 1.4s linear .24s both, header-movement-anim 1.2s linear both .24s;
}

.letter-l-2 {
  animation: header-color-anim 1.4s linear .28s both, header-movement-anim 1.2s linear both .28s;
}

.letter-l-3 {
  animation: header-color-anim 1.4s linear .32s both, header-movement-anim 1.2s linear both .32s;
}

.letter-l-4 {
  animation: header-color-anim 1.4s linear .36s both, header-movement-anim 1.2s linear both .36s;
}

.letter-l-5 {
  animation: header-color-anim 1.4s linear .40s both, header-movement-anim 1.2s linear both .40s;
}

.letter-l-6 {
  animation: header-color-anim 1.4s linear .44s both, header-movement-anim 1.2s linear both .44s;
}

.letter-l-7 {
  animation: header-color-anim 1.4s linear .48s both, header-movement-anim 1.2s linear both .48s;
}

.letter-l-8 {
  animation: header-color-anim 1.4s linear .52s both, header-movement-anim 1.2s linear both .52s;
}

.letter-l-9 {
  animation: header-color-anim 1.4s linear .56s both, header-movement-anim 1.2s linear both .56s;
}

/* Movement animation for letters in header-text */
@keyframes header-movement-anim {
  0% {
    transform: scale(3) translate(-10px, 20px);
  }
  45% {
    transform: translate(10px, -50px)
  }
  50% {
    transform: translate(20px, -10px)
  }
  55% {
    transform: translate(10px, 0px)
  }
  60% {
    transform: translate(0px, 0px)
  }
  65% {
    transform: translate(0px, -10px)
  }
  70% {
    transform: scale(1) translateY(-20px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {}
}

/* Color animation for letters in header-text */
@keyframes header-color-anim {
  0% {
    color: #814ff7;
  }
  13.52% {
    color: #ff0062;
  }
  37.04% {
    color: #ffda1f;
  }
  48.82% {
    color: #814ff7;
  }
  66.48% {
    color: #ff0062;
  }
  90% {
    color: #ffda1f;
  }
  100% {
    color: #fafafa;
  }
}

/* Mobile hint text to disable animated background gradient */
.header-disable-anim-text-start {
  opacity: 0;
  animation: 0.5s linear 2.5s forwards fade-in-40, 0.5s linear 6s forwards fade-out;
}

.animate-enlargement {
  animation: enlarge-animation 0.25s ease-out;
}

@keyframes enlarge-animation {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade-in-from-50 0.2s ease-in;
}

@keyframes fade-in {
  to { 
    opacity: 1; 
  }
}

@keyframes fade-out {
  to { 
    opacity: 0; 
  }
}

@keyframes fade-in-40 {
  to { 
    opacity: 0.4; 
  }
}

@keyframes fade-in-from-50 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Animation that plays when a modal is opened */
.animate-modal {
  animation: open-modal 0.2s;
}

@keyframes open-modal {
  0% {
    transform: translateY(10%) scale(0.9);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}

/* Container for Hero Section */
.hero-container {
  background-color: #242424;
  /* background: linear-gradient(to bottom, #2e2e2e 15%, rgb(29, 29, 29) 100%); */
  border-radius: 20px;
  width: var(--main-container-stage-1-width);
}

/* Container for Languages Section */
.lang-list-container {
  background-color: #242424;
  /* background: linear-gradient(to bottom, #2e2e2e 15%, rgb(29, 29, 29) 100%); */
  border-radius: 20px;
  width: var(--main-container-stage-1-width);
}

/* Wrapper for programming language logo + text inside Languages Section */
.logo-wrapper {  
  min-width: fit-content;
}

/* Container for SVG logo inside logo-wrapper */
.logo-container {
  width: 80px;
}

/* Outer container for Projects Section */
.projects-section-box {
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

/* Inner container for Projects Section */
.projects-container {
  width: calc(var(--main-container-stage-1-width) + 10px);
}

/* Container for individual project inside projects-container */
.project-box {
  background-color: #242424;
  position: relative;
  border: 1px solid rgba(173, 173, 173, 0.5);
}

/* Gradient border for project-box */
.project-box::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -3px;
  right: -4px;
  bottom: -4px;
  left: -3px;
  filter: blur(6px);
  background: linear-gradient(to bottom right, #fffb00 0%, #ff008c 50%, #0044ff 100%);
}

/* Force ::before styling to appear below project-box background */
.project-box::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}

.project-box:hover {
  transform: scale(1.05);
  transition: ease 0.2s;
}

/* Increase opacity for thumbnail image when hovering over a project */
.project-box:hover .thumbnail-container {
  opacity: 1;
}

/* Container for content inside project-box */
.project-box-content {
  position: relative;
  z-index: 1;
}

/* Short description text for every project inside project-box-content */
.project-short-desc {
  color: #B6B3AF;
}

/* Container for thumbnail image inside project-box-content */
.thumbnail-container {
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  opacity: 0.8;
}

/* Main container for Projects pages */
.project-page-container {
  z-index: 2;
  width: calc(var(--main-container-stage-1-width) + 20px);
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px 1px rgb(0, 0, 0);
}

/* Container for the main image inside Projects pages */
.main-image-container {
  background-color: #202020;
  border: 1px solid rgba(90, 90, 90, 0.8);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* SVG arrow icons for ImageSlider */
.image-arrow-icon {
  opacity: 0.6;
  filter: invert(100%);
  transition: ease 0.2s;
}

/* Change image-arrow-icon when hovering over its container */
.image-arrow-button:hover>.image-arrow-icon {
  opacity: 1;
  transform: scale(1.2);
  filter: invert(79%) sepia(25%) saturate(811%) hue-rotate(37deg) brightness(108%) contrast(95%);
}

.image-arrow-button:active>.image-arrow-icon {
  transform: scale(1.4);
  transition: ease 0.15s;
}

/* Container for window that displays enlarged images in ImageSlider */
.full-sized-image-container {
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

/* Dots to represent image indices in full-sized-image-container */
.full-size-image-slider-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #ffffff; 
  margin: 0 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  opacity: 0.9;
}

.full-size-image-slider-dot:hover {
  transition-duration: 0.1s;
  transform: scale(1.2);
  opacity: 1;
}

/* Back button for pages that are not opened in a modal */
.single-page-back-button {
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.5);
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/* Back button for not-found pages */
.not-found-page-back-button {
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/* Classes for every individual language logo that appears in About page */
/* Every logo will have a slight delay for when its animation starts */
.about-logo-anim-1 {
  opacity: 0;
  animation: logo-swoop-in 0.8s ease .1s forwards;
}

.about-logo-anim-2 {
  opacity: 0;
  animation: logo-swoop-in 0.8s ease .25s forwards;
}

.about-logo-anim-3 {
  opacity: 0;
  animation: logo-swoop-in 0.8s ease .4s forwards;
}

.about-logo-anim-4 {
  opacity: 0;
  animation: logo-swoop-in 0.8s ease .55s forwards;
}

/* Animation for language logos in About section */
@keyframes logo-swoop-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Responsive media queries */

@media (max-width: 870px) {
  .lang-list-container {
    width: var(--main-container-stage-2-width);
  }
  .projects-container {
    width: calc(var(--main-container-stage-2-width) + 10px);
  }
  .project-page-container {
    width: calc(var(--main-container-stage-2-width) + 20px);
  }
  .hero-container {
    width: var(--main-container-stage-2-width);
  }
  .header-wrapper {
    width: 630px;
  }
  .header-shadow {
    max-width: 630px;
    max-height: 54px;
    filter: blur(12px) !important;
    transform: translateX(1px);
  }
  .header-text {
    font-size: 54px;
  }
  .header-text-container {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .logo-container {
    width: 70px;
  }
  .lang-list-container {
    width: var(--main-container-stage-3-width);
  }
  .projects-container {
    width: calc(var(--main-container-stage-3-width) + 10px);
  }
  .project-page-container {
    width: calc(var(--main-container-stage-3-width) + 20px);
  }
  .hero-container {
    width: var(--main-container-stage-3-width);
  }
  .header-wrapper {
    width: 510px;
  }
  .header-shadow {
    max-width: 510px;
    max-height: 48px;
    filter: blur(10px) !important;
    transform: translateX(0px);
  }
  .header-text {
    font-size: 44px;
  }
  .header-text-container {
    margin-top: 9px;
  }
}

@media (max-width: 639px) {
  .logo-container {
    width: 50px;
  }
  .lang-list-container {
    width: var(--main-container-stage-4-width);
  }
  .projects-container {
    width: calc(var(--main-container-stage-4-width) + 10px);
  }
  .project-page-container {
    width: calc(var(--main-container-stage-4-width) + 20px);
  }
  .hero-container {
    width: var(--main-container-stage-4-width);
  }
  .header-wrapper {
    width: 410px;
  }
  .header-shadow {
    max-width: 410px;
    max-height: 38px;
    filter: blur(8px) !important;
  }
  .header-text {
    font-size: 35px;
  }
  .header-text-container {
    margin-top: 11px;
  }
}

@media (max-width: 490px) {
  .logo-container {
    width: 48px;
  }
  .lang-list-container {
    width: var(--main-container-stage-5-width);
  }
  .projects-container {
    width: calc(var(--main-container-stage-5-width) + 10px);
  }
  .project-page-container {
    width: calc(var(--main-container-stage-5-width) + 20px);
  }
  .hero-container {
    width: var(--main-container-stage-5-width);
  }
  .header-wrapper {
    width: 332px;
  }
  .header-shadow {
    max-width: 332px;
    max-height: 33px;
    filter: blur(7px) !important;
  }
  .header-text {
    font-size: 28px;
  }
  .header-text-container {
    margin-top: 14px;
  }
}

/* Special media query for wide view ports with short height */
@media (max-width: 870px), (max-height: 849px) {
  .modal-bg {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }
  .modal-wrapper {
    /* Make modal fill height of screen */
    height: 100% !important;
  }
  .modal-small-close-button {
    /* Display close button for narrow screens */
    display: flex !important;
  }
  .project-page-container {
    /* Make container scrollable */
    overflow: auto !important;
    height: auto !important;
    max-height: 100% !important;
  }
  .modal-wide-close-button {
    /* Don't display close button for wide screens */
    display: none !important;
  }
}

/* Reduced motion media query */
@media (prefers-reduced-motion: reduce) {
  .letter-f-1,
  .letter-f-2,
  .letter-f-3,
  .letter-f-4,
  .letter-f-5,
  .letter-f-6,
  .letter-l-1,
  .letter-l-2,
  .letter-l-3,
  .letter-l-4,
  .letter-l-5,
  .letter-l-6,
  .letter-l-7,
  .letter-l-8,
  .letter-l-9 {
    animation: none;
    color: #fafafa;
  }
  .header-shadow-anim-start {
    opacity: 1;
    animation: none;
  }
  .header-shadow-anim:before {
    width: 100%;
    animation: none;
    background: linear-gradient(130deg,#ffc400 5%, #ff008c 50%, #0044ff 95%);
  }
  .project-box:hover {
    transform: none;
    transition: ease 0.3s;
    background-color: #333333;
  }
  .animate-fade {
    animation: none;
  }
  .animate-modal {
    animation: none;
  }
  .about-logo-anim-1,
  .about-logo-anim-2,
  .about-logo-anim-3,
  .about-logo-anim-4 {
    opacity: 1;
    animation: none;
  }
}

