@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --anim-x-offset: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgb(26, 26, 26);
  background: radial-gradient(circle at 30%, #333, rgb(26, 26, 26) 50%);
  background-attachment: fixed;
}

@supports (-moz-appearance:none) {
  body {
    background: rgb(36, 36, 36);
  }
}

.langs-section-box {
  background-color: #242424;
  /* background: linear-gradient(to bottom, #2e2e2e 15%, rgb(29, 29, 29) 100%); */
  border-radius: 20px;
}

.projects-section-box {
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

.project-page-container {
  z-index: 2;
  width: 840px;
  background-color: #202020;
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 12px 1px rgb(0, 0, 0);
}

.lang-list-container {
  width: 830px;
}

.projects-container {
  width: 840px;
}

.logo-wrapper {  
  min-width: fit-content;
}

.logo-container {
  width: 80px;
}

.main-image-container {
  background-color: #202020;
  border: 1px solid rgba(90, 90, 90, 0.8);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

@media (max-width: 870px) {
  .lang-list-container {
    width: 580px;
  }
  .projects-container {
    width: 610px;
  }
  .project-page-container {
    width: 630px;
  }
}

@media (max-width: 767px) {
  .logo-container {
    width: 40px;
  }
  .lang-list-container {
    width: 500px;
  }
  .projects-container {
    width: 510px;
  }
  .project-page-container {
    width: 510px;
  }
}

@media (max-width: 640px) {
  .lang-list-container {
    width: 400px;
  }
  .projects-container {
    width: 410px;
  }
  .project-page-container {
    width: 410px;
  }
}

@media (max-width: 490px) {
  .lang-list-container {
    width: 300px;
  }
  .projects-container {
    width: 340px;
  }
  .project-page-container {
    width: 340px;
  }

}

.project-box {
  background-color: #242424;
  position: relative;
  border: 1px solid rgba(173, 173, 173, 0.5);
}

.project-box::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0px, 4px, 0px) scale(1);
  filter: blur(8px);
  /* filter: blur(14px); */
  /* background: linear-gradient(to top left, #ff3d00 0%, #3700ff 100%); */
  /* background: linear-gradient(to bottom right, #ff9900 0%, #ff008c 50%, #0044ff 100%); */
  background: linear-gradient(to bottom right, #fffb00 0%, #ff008c 50%, #0044ff 100%);
}

.project-box::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}

.project-box:hover {
  transform: scale(1.05);
  transition: ease 0.2s;
}

.project-box:hover .thumbnail-container {
  opacity: 1;
}

.project-box-content {
  position: relative;
  z-index: 1;
}

.project-short-desc {
  color: #B6B3AF;
}

.thumbnail-container {
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  opacity: 0.8;
}

.full-sized-image-container {
  border: 1px solid rgba(70, 70, 70, 0.8);
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.image-arrow-icon {
  opacity: 0.6;
  filter: invert(100%);
  transition: ease 0.2s;
}

.image-arrow-button:hover>.image-arrow-icon {
  opacity: 1;
  transform: scale(1.2);
  filter: invert(79%) sepia(25%) saturate(811%) hue-rotate(37deg) brightness(108%) contrast(95%);
}

.full-size-image-slider-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #ffffff; 
  margin: 0 5px;
  transition-duration: 0.2s;
  cursor: pointer;
  opacity: 0.8;
}

.full-size-image-slider-dot:hover {
  transition-duration: 0.1s;
  transform: scale(1.2);
  opacity: 1;
}

.header-shadow {
  position: relative;
  z-index: -1;
  
}

.header-shadow:before { 
  content: '';
  position: absolute;
  width: 860px;
  height: 84px;
  /* left: 0px; */
  /* top: 0px; */
  text-align: center;
  font-size: 1em;
  font-weight: 800;
  filter: blur(16px);
  z-index: -1;
  border-radius: 38px;
  /* transform: scale(1.7); */
}

.header-shadow-anim-start {
  opacity: 0;
  animation: 1s linear 1.5s forwards fade-in;
}

.header-shadow-anim:before {
  animation: gradient-animation 6s infinite linear;
  background: linear-gradient(130deg,#ffc400 15%, #ff008c 50%, #0044ff 85%);
  background-size: 200% 200%;
}

.header-shadow-static:before {
  background: linear-gradient(130deg,#ffc400 5%, #ff008c 50%, #0044ff 95%);
}

.animate-enlargement {
  animation: enlarge-animation 0.25s ease-out;
}

@keyframes fade-in {
  to { 
    opacity: 1; 
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes enlarge-animation {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header-text-container {
  position: absolute;
  top: 42px;
  /* position: relative; */
}

.letter {
  /* position: absolute; */
  /* font-size: 100px; */
  font-weight: 900;
}

.letter-f-1 {
  /* left: calc(var(--anim-x-offset)*0); */
  animation: header-color-anim 1.6s linear both, Letter-f-1-entry 1.6s linear both;
}

.letter-f-2 {
  /* left: calc(var(--anim-x-offset)*1); */
  animation: header-color-anim 1.6s linear .04s both, Letter-f-2-entry 1.6s linear both .04s;
}

.letter-f-3 {
  /* left: calc(var(--anim-x-offset)*2); */
  animation: header-color-anim 1.6s linear .08s both, Letter-f-3-entry 1.6s linear both .08s;
}

.letter-f-4 {
  /* left: calc(var(--anim-x-offset)*3); */
  animation: header-color-anim 1.6s linear .12s both, Letter-f-4-entry 1.6s linear both .12s;
}

.letter-f-5 {
  /* left: calc(var(--anim-x-offset)*4); */
  animation: header-color-anim 1.6s linear .16s both, Letter-f-5-entry 1.6s linear both .16s;
}

.letter-f-6 {
  /* left: calc(var(--anim-x-offset)*5); */
  animation: header-color-anim 1.6s linear .2s both, Letter-f-6-entry 1.6s linear both .2s;
}

.letter-l-1 {
  /* left: calc(var(--anim-x-offset)*7); */
  animation: header-color-anim 1.6s linear .24s both, Letter-l-1-entry 1.6s linear both .24s;
}

.letter-l-2 {
  /* left: calc(var(--anim-x-offset)*8); */
  animation: header-color-anim 1.6s linear .28s both, Letter-l-1-entry 1.6s linear both .28s;
}

.letter-l-3 {
  /* left: calc(var(--anim-x-offset)*9); */
  animation: header-color-anim 1.6s linear .32s both, Letter-l-1-entry 1.6s linear both .32s;
}

.letter-l-4 {
  /* left: calc(var(--anim-x-offset)*10); */
  animation: header-color-anim 1.6s linear .36s both, Letter-l-1-entry 1.6s linear both .36s;
}

.letter-l-5 {
  /* left: calc(var(--anim-x-offset)*11); */
  animation: header-color-anim 1.6s linear .40s both, Letter-l-1-entry 1.6s linear both .40s;
}

.letter-l-6 {
  /* left: calc(var(--anim-x-offset)*12); */
  animation: header-color-anim 1.6s linear .44s both, Letter-l-1-entry 1.6s linear both .44s;
}

.letter-l-7 {
  /* left: calc(var(--anim-x-offset)*13); */
  animation: header-color-anim 1.6s linear .48s both, Letter-l-1-entry 1.6s linear both .48s;
}

.letter-l-8 {
  /* left: calc(var(--anim-x-offset)*14); */
  animation: header-color-anim 1.6s linear .52s both, Letter-l-1-entry 1.6s linear both .52s;
}

.letter-l-9 {
  /* left: calc(var(--anim-x-offset)*15); */
  animation: header-color-anim 1.6s linear .56s both, Letter-l-1-entry 1.6s linear both .56s;
}

/* aasddasa */

.letter-f-12 {
  /* left: calc(var(--anim-x-offset)*0); */
  animation: header-color-anim 1.4s linear both, Letter-test-entry 1.2s linear both;
}

.letter-f-22 {
  /* left: calc(var(--anim-x-offset)*1); */
  animation: header-color-anim 1.4s linear .04s both, Letter-test-entry 1.2s linear both .04s;
}

.letter-f-32 {
  /* left: calc(var(--anim-x-offset)*2); */
  animation: header-color-anim 1.4s linear .08s both, Letter-test-entry 1.2s linear both .08s;
}

.letter-f-42 {
  /* left: calc(var(--anim-x-offset)*3); */
  animation: header-color-anim 1.4s linear .12s both, Letter-test-entry 1.2s linear both .12s;
}

.letter-f-52 {
  /* left: calc(var(--anim-x-offset)*4); */
  animation: header-color-anim 1.4s linear .16s both, Letter-test-entry 1.2s linear both .16s;
}

.letter-f-62 {
  /* left: calc(var(--anim-x-offset)*5); */
  animation: header-color-anim 1.4s linear .2s both, Letter-test-entry 1.2s linear both .2s;
}

.letter-l-12 {
  /* left: calc(var(--anim-x-offset)*7); */
  animation: header-color-anim 1.4s linear .24s both, Letter-test-entry 1.2s linear both .24s;
}

.letter-l-22 {
  /* left: calc(var(--anim-x-offset)*8); */
  animation: header-color-anim 1.4s linear .28s both, Letter-test-entry 1.2s linear both .28s;
}

.letter-l-32 {
  /* left: calc(var(--anim-x-offset)*9); */
  animation: header-color-anim 1.4s linear .32s both, Letter-test-entry 1.2s linear both .32s;
}

.letter-l-42 {
  /* left: calc(var(--anim-x-offset)*10); */
  animation: header-color-anim 1.4s linear .36s both, Letter-test-entry 1.2s linear both .36s;
}

.letter-l-52 {
  /* left: calc(var(--anim-x-offset)*11); */
  animation: header-color-anim 1.4s linear .40s both, Letter-test-entry 1.2s linear both .40s;
}

.letter-l-62 {
  /* left: calc(var(--anim-x-offset)*12); */
  animation: header-color-anim 1.4s linear .44s both, Letter-test-entry 1.2s linear both .44s;
}

.letter-l-72 {
  /* left: calc(var(--anim-x-offset)*13); */
  animation: header-color-anim 1.4s linear .48s both, Letter-test-entry 1.2s linear both .48s;
}

.letter-l-82 {
  /* left: calc(var(--anim-x-offset)*14); */
  animation: header-color-anim 1.4s linear .52s both, Letter-test-entry 1.2s linear both .52s;
}

.letter-l-92 {
  /* left: calc(var(--anim-x-offset)*15); */
  animation: header-color-anim 1.4s linear .56s both, Letter-test-entry 1.2s linear both .56s;
}

@keyframes Letter-test-entry {
  0% {
    transform: scale(3) translate(-10px, 20px);
  }
  45% {
    transform: translate(10px, -50px)
  }
  50% {
    transform: translate(20px, -10px)
  }
  55% {
    transform: translate(10px, 0px)
  }
  60% {
    transform: translate(0px, 0px)
  }
  65% {
    transform: translate(0px, -10px)
  }
  70% {
    transform: scale(1) translateY(-20px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {}
}

/*====ANIMATIONS====*/

@keyframes header-color-anim {
  0% {
    color: #814ff7;
    /* color: #984ff7; */
  }
  13.52% {
    color: #ff0062;
  }
  37.04% {
    color: #ffda1f;
  }
  48.82% {
    color: #814ff7;
    /* color: #984ff7; */
  }
  66.48% {
    color: #ff0062;
  }
  90% {
    color: #ffda1f;
  }
  100% {
    color: #fff;
  }
}

@keyframes Letter-f-1-entry {
  0% {
    transform: scale(1.5) translate(-100px, 200px);
  }
  45% {
    transform: translate(50px, -80px)
  }
  50% {
    transform: translate(65px, -10px)
  }
  55% {
    transform: translate(60px, 0px)
  }
  60% {
    transform: translate(40px, 0px)
  }
  65% {
    transform: translate(20px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {}
}

@keyframes Letter-f-2-entry {
  0% {
    transform: scale(1.5) translate(-80px, 200px);
  }
  45% {
    transform: translate(40px, -80px)
  }
  50% {
    transform: translate(55px, -10px)
  }
  55% {
    transform: translate(50px, 0px)
  }
  60% {
    transform: translate(30px, 0px)
  }
  65% {
    transform: translate(10px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}

@keyframes Letter-f-3-entry {
  0% {
    transform: scale(1.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(20px, -80px)
  }
  50% {
    transform: translate(35px, -10px)
  }
  55% {
    transform: translate(30px, 0px)
  }
  60% {
    transform: translate(10px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}

@keyframes Letter-f-4-entry {
  0% {
    transform: scale(1.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(00px, -80px)
  }
  50% {
    transform: translate(15px, -10px)
  }
  55% {
    transform: translate(10px, 0px)
  }
  60% {
    transform: translate(00px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}

@keyframes Letter-f-5-entry {
  0% {
    transform: scale(1.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(00px, -80px)
  }
  50% {
    transform: translate(-15px, -10px)
  }
  55% {
    transform: translate(-10px, 0px)
  }
  60% {
    transform: translate(00px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}

@keyframes Letter-f-6-entry {
  0% {
    transform: scale(1.5) translate(-30px, 200px);
  }
  45% {
    transform: translate(-20px, -80px)
  }
  50% {
    transform: translate(-35px, -10px)
  }
  55% {
    transform: translate(-30px, 0px)
  }
  60% {
    transform: translate(-10px, 0px)
  }
  65% {
    transform: translate(00px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}

@keyframes Letter-l-1-entry {
  0% {
    transform: scale(1.5) translate(80px, 200px);
  }
  45% {
    transform: translate(-40px, -80px)
  }
  50% {
    transform: translate(-55px, -10px)
  }
  55% {
    transform: translate(-50px, 0px)
  }
  60% {
    transform: translate(-30px, 0px)
  }
  65% {
    transform: translate(-10px, -20px)
  }
  70% {
    transform: scale(1) translateY(-40px);
  }
  80% {
    transform: translateY(-0px);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
  }
}